@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #214457;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  display: flex;
}

.icon {
  width: 64px;
  height: 48px;
  margin: 32px 8px 32px 108px;
}

.logo p {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: white;
}

.sign {
  display: flex;
  margin-top: 30px;
}

.search_header {
  margin-top: 30px;
  margin-left: 0px;
}
