img {
  width: 808px;
  height: 480px;
  margin-top: 18.5px;
}

.info {
  display: flex;
  margin-top: 18.5px;
}

.profile {
  margin-top: 32px;
  margin-bottom: 18.5px;
}

.avatar {
  display: flex;
}

.name_avatar {
  margin-left: 16px;
}

.created_by {
  display: flex;
  margin-left: 24px;
  padding: 0;
}

.name_create {
  margin-left: 16px;
  padding: 0;
}

.button {
  margin-left: 24px;
  margin-top: 24px;
}
