.bar {
  width: 100%;
  height: 800px;
}

.image-bar {
  margin: 0;
  position: relative;
  width: 100%;
  height: 800px;
  left: 0px;
  top: 0px;
}

.bar span {
  color: white;
}

.search {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: 371px;
  margin-left: 628px;
}
