.category {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  position: static;
  width: 1440px;
  height: 412px;
  background: #eceeef;
}

.title_category {
  margin: 80px 461.5px 0;
}

.content_category {
  display: block;
}

.content_category {
  display: block;
}
