.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.icon {
  width: 64px;
  height: 48px;
  margin: 32px 8px 32px 108px;
}

.logo p {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.05em;
  width: 156px;
  height: 48px;
  color: white;
}

.sign {
  display: flex;
  margin-top: 30px;
}
